# Git
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# Development files
/.vscode
/src/panel export-ignore
.editorconfig export-ignore
.eslint.config.mjs
package.json export-ignore
